@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/gilroy-300/gilroy-300-normal.woff2') format('woff2'),
		 url('../fonts/Gilroy/gilroy-300/gilroy-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy/gilroy-800/gilroy-800-normal.woff2') format('woff2'),
		 url('../fonts/Gilroy/gilroy-800/gilroy-800-normal.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('opensans-300-normal.woff2') format('woff2'),
         url('opensans-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}