@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/gilroy-300/gilroylight.woff2') format('woff2'),
		 		 url('../fonts/gilroy/gilroy-300/gilroylight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/gilroy-800/gilroyextrabold.woff2') format('woff2'),
		 		 url('../fonts/gilroy/gilroy-800/gilroyextrabold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-300/opensanslight.woff2') format('woff2'),
         url('../fonts/opensans/opensans-300/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-400/opensans.woff2') format('woff2'),
         url('../fonts/opensans/opensans-400/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
	margin: 0;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  color: #000000;

  background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {  /*прячем элементы*/
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.button {
	min-width: 140px;
	padding: 8px 40px;
  font: inherit;

  text-align: center;
  color: rgba(0, 0, 0, 1);
  vertical-align: middle;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 40%,rgb(240, 197, 46) 40%,rgb(240, 197, 46) 60%,rgba(255, 255, 255, 0) 60%);
  border: none;

}

.button:hover,
.button:focus {
	background-image: linear-gradient(to bottom,rgb(240, 197, 46) 0%,rgb(240, 197, 46) 0%,rgb(240, 197, 46) 100%,rgb(240, 197, 46) 100%);
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.container {       /*центровщик*/
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-wrapper {
	min-height: 205px;
	padding-top: 21px;
	background-color: rgba(240, 197, 46, 0.5);
	box-shadow: inset 0px 40px 0px 0px rgba(255, 255, 255, 1);
}

.user-navigation {
  margin-bottom: 31px;

  font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
}

.user-navigation:hover,
.user-navigation:focus {
	color: rgba(0, 0, 0, 0.6);
}

.header-logo  {
	display: block;
	margin-left: 60px;
	width: 163px;
}

.header-logo svg {
	display: block;
	margin-bottom: 20px;
}

.header-logo:hover,
.header-logo:focus {
	fill: rgba(0, 0, 0, 0.6);
}

.header-logo:active {
	fill: rgba(0, 0, 0, 0.3);
}

.user-controls {
	display: flex;
	align-items: baseline;
	margin: 0 60px;
}

.search-form {
	position: relative;
}

.search-form::before {
	content: "";
  
  position: absolute;
  top: 15px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-form input[type="search"] {
	width: 351px;
	padding: 12px 0 12px 38px;


	border: none;
	background-color: rgb(247, 226, 150);
}

.search-form input[type="search"]:focus {
	outline: 0;
	border-bottom: 2px solid black;
}

.search-form input[type="search"]::placeholder {
	color: rgba(0, 0, 0, 0.3);
}

.search-form input[type="search"]:hover::placeholder {
	color: rgba(0, 0, 0, 0.6);
}

.search-form input[type="search"]:focus::placeholder {
	color: rgba(0, 0, 0, 1);
}

.search-button {
	opacity: 0;
	width: 81px;
	height: 45px;
	background-color: rgb(247, 226, 150);
  border: 2px solid black;
}

.search-button:active {
	opacity: 1;
	background-color: #000000;
	color: rgba(255, 255, 255, 0.3);
}

.search-form input[type="search"]:focus ~ .search-button {
	opacity: 1;
}

.search-form input[type="search"]:focus ~ .search-button:hover,
.search-form input[type="search"]:focus ~ .search-button:focus  {
	opacity: 1;
	background-color: #000000;
	color: #ffffff;
}

.login {
	display: flex;
	flex-wrap: wrap;
	width: 100px;

	margin: 0;
	margin-right: 160px;
	margin-left: auto;
	padding: 0;

	list-style: none;
}

.login a {
	color: rgba(0, 0, 0, 1);
}

.login a:hover,
.login a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.login a:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-link {
	position: relative;
	padding-left: 27px;
}

.login-link::before {
	content: "";
  
  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .login-link::before { 
	filter: brightness(0);
}

.login-link:hover::before,
.login-link:focus::before {
	opacity: 0.6;
}

.login-link:active::before {
	opacity: 0.3;
}

.user-controls-list {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	width: 240px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.user-controls-list a {
	color: rgba(0, 0, 0, 1);
}

.user-controls-list a:hover,
.user-controls-list a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.user-controls-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-control-item {
	width: 100px;
	margin-left: 20px;

	text-align: end;
}	

.control-compare {
	position: relative;
	padding-left: 25px;
	padding-right: 5px;
}

.control-compare::before {
	content: "";
  
  position: absolute;
  top: 6px;
  right: 83px;
  

  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .control-compare::before { 
	filter: brightness(0);
}

.control-compare:hover::before,
.control-compare:focus::before {
	opacity: 0.6;
}

.control-compare:active::before {
	opacity: 0.3;
}

.control-cart {
	position: relative;
	padding-left: 25px;
}

.control-cart::before {
	content: "";
  
  position: absolute;
  top: 4px;
  right: 71px;

  width: 12px;
  height: 12px;
  
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .control-cart::before { 
	filter: brightness(0);
}

.control-cart:hover::before,
.control-cart:focus::before {
	opacity: 0.6;
}

.control-cart:active::before {
	opacity: 0.3;
}


.site-navigation {
	position: relative;
	display: flex;
	margin: 0;
	padding: 0;
	padding-left: 60px;
	padding-right: 57px;

	list-style: none;
}

.site-navigation a {
	color: rgba(0, 0, 0, 1);
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation li:nth-child(2){
	margin-left: auto;
	margin-right: 35px;
}

.site-navigation li:nth-child(3){
	margin-right: 109px;
}

.site-navigation a {
	text-transform: uppercase;
	letter-spacing: 3.5px;
}

.site-navigation:first-child::before {
	content: "";
  
  position: absolute;
  top: 4px;
  left: 290px;

  width: 16px;
  height: 16px;
  
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.catalog-list {
	position: absolute;
	left: 0;
	z-index: 1;

	display: none;
	flex-wrap: wrap;
	width: 1040px;
	margin: 0;
	padding: 21px 60px 34px;

	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;

	background-color: rgb(247, 226, 150);

	list-style: none;
}

.catalog-list a {
	text-transform: none;
	letter-spacing: normal;
	color: rgba(0, 0, 0, 1);
}
}

.catalog-list a:hover,
.catalog-list a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.catalog-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.catalog-list li:nth-child(2),
.catalog-list li:nth-child(3) {
	margin: 0;
}

.catalog-column {
	min-width: 160px;
	margin-right: 40px;
}
.catalog-column:first-child {
	margin-right: 60px;
}

.slider-popular-product {
	position: relative;
	margin-bottom: 44px;
}

.slider-list {
	min-height: 550px;
	margin: 0;
	padding: 0;
	list-style: none;

	background-color: #ffffff;
	box-shadow: inset 0px 113px 0px 0px rgb(247, 226, 150);
}

.slider-item {
	box-sizing: border-box;
	position: relative;
	display: none;
	justify-content: space-between;
	align-items: flex-start;
	min-height: 550px;
	padding-top: 2px;
}

.slider-item:nth-child(1) {
	display: flex;
}

.slide-1 img {
	margin-left: 90px;
}

.slide-2 img {
	margin-top: 12px;
	margin-left: 116px;
}

.slide-3 img {
	margin-top: 65px;
	margin-left: 31px;
}

.slide-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 480px;
	margin-right: 80px;
}

.slide-wrapper::before {
	content: " ";

	position: absolute;
	top: 37px;
	left: 0;

	width: 100px;
	height: 7px;

	background-color: #ffffff;
}

.slide-number {
	position: absolute;
	top: 63px;
	right: -32px;
	margin: 0;
	font-size: 179px;

	color: #ffffff;
}

.slide-name {
	position: relative;
	margin: 0;
	margin-top: 79px;
	margin-bottom: 19px;
	font-size: 47px;
	letter-spacing: 0.6px;
	line-height: 56px;
}

.slide-description {
	margin: 0;
	margin-bottom: 43px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;

	color: #000000;
}

.options {
	margin: 0;
	margin-top: 50px;
  display: flex;
  order: 1;
}

.options-column {
	display: flex;
	flex-direction: column-reverse;
}

.slide-1 .options-column:not(:last-child) {
  margin-right: 79px;
}

.slide-3 .options-column:not(:last-child) {
  margin-right: 45px;
}

.options dt {
	padding: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;

	color: #000000;
}

.options dd {
	margin: 0;
	margin-bottom: 7px;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
}

.slider-controls {
	position: absolute;
	top: 317px;
	right: 85px;
}

.slider-controls .slide-button {
  margin-right: 17px;
}

.slide-button {
	box-sizing: border-box;
	position: relative;
	padding: 0;
	width: 12px;
	height: 12px;

	font-size: 0;
  
  background-color: transparent;
	border: 1px solid #000000;
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls .slide-active::after {
	content: " ";

  box-sizing: border-box;
	position: absolute;
	top: 2px;
	left: 2px;

	width: 6px;
	height: 6px;

	border: 1px solid #000000;
	border-radius: 50%;
}

.popular-categories {
	margin-bottom: 80px;
}

.popular-categories-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;
  list-style: none;
}

.popular-categories-list a {
	display: flex;
	flex-direction: column-reverse;
	width: 160px;
}

.popular-categories-list h3 {
	margin: 0;
	margin-top: 34px;
	padding: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.popular-categories-item p {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0;
	width: 160px;
	height: 160px;
	background-color: rgba(240, 197, 46, 0.5);
}

.monopods p {
  align-items: flex-end;	
}

.monopods img {
	padding: 2px;
} 

.popular-categories-item:hover p,
.popular-categories-item:focus p {
  background-color: rgba(240, 197, 46, 1);
}

.popular-categories-item:active h3,
.popular-categories-item:active p,
.popular-categories-item:active img {
	opacity: 0.6;
}

.services-slider {
	min-height: 388px;
  margin-bottom: 94px;
  background-color: #e5e5e5;
  box-shadow: inset 0px 100px 0px 0px rgb(255, 255, 255);
}

.services-column {
	display: flex;
}

.button-list,
.services-description {
	margin: 0;
	padding: 0;
	list-style: none;
}

.button-list {
	position: relative;
	width: 280px;
	margin-right: 122px;
	padding-top: 80px;
}

.button-list::after {
	content: "";
  
  position: absolute;
  top: 0;
  right: -4px;
  

  width: 7px;
  height: 319px;

  background-color: #000000;
}

.button-list li {
	width: 160px;
	margin-bottom: 25px;
}

.services-button {
	width: 100%;
	padding: 8px 20px;
	background-color: transparent;
}

.button-list .service-active {
	padding-right: 260px;
	background-image: linear-gradient(to bottom,rgb(0, 0, 0) 40%,rgb(0, 0, 0) 40%,rgb(0, 0, 0) 60%,rgb(0, 0, 0) 60%);
	color: #f7e184;
}

.services-description {
	margin-top: 73px;
	width: 460px;
}

.services-item {
	position: relative;
	display: none;
}

.services-description li:nth-child(1) {
	display: block;
}

.services-delivery::after {
	content: "";
  
  position: absolute;
  top: 12px;
  right: -232px;
  

  width: 136px;
  height: 164px;

  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-guarantee::after {
	content: "";
  
  position: absolute;
  top: -12px;
  right: -252px;
  

  width: 171px;
  height: 195px;

  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-credit::after {
	content: "";
  
  position: absolute;
  top: -12px;
  right: -243px;
  

  width: 171px;
  height: 195px;

  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services-item h3 {
	margin: 0;
	margin-bottom: 31px;
	font-size: 47px;
	letter-spacing: 0.6px;
	line-height: 48px;
}

.services-item p {
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;

	color: #000000;
}

.popular-brends {
	margin-bottom: 87px;
}

.popular-brends-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.popular-brend-item img {
  filter: grayscale(1);
  opacity: 0.2;
	}

.popular-brend-item:hover img {
	filter: grayscale(0);
	opacity: 1;
}

.about-us-wrapper {
	display: flex;
	justify-content: space-between;

	min-height: 573px;
}

.about-us {
	position: relative;
	width: 472px;
}

.contacts {
	position: relative;
	width: 560px;
}

.about-us h2,
.contacts h2 {
	margin: 0;
	margin-top: 52px;
	margin-bottom: 43px;
  font-size: 47px;
  line-height: 48px;
}

.about-us h2::before,
.contacts h2::before {
	content: "";
  
  position: absolute;
  top: 0;
  left: 0;
  

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us p,
.contacts p {
	margin: 0;
	margin-bottom: 30px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;

	color: #000000;
}

.contacts p {
	margin-bottom: 39px;
}

.delivery-company-list {
	margin: 0;
	margin-top: 66px;
	padding: 0;
	padding-left: 36px;

	font-size: 16px;
	line-height: 40px;

	list-style: none;
}

.delivery-company-list li {
	position: relative;
}

.delivery-company-list li::before{
	content: " ";
  
  position: absolute;
	top: 16px;
	left: -36px;

	width: 4px;
	height: 4px;

	border: 2px solid #e5e5e5;
	border-radius: 50%;
}

.about-us .button {
	position: absolute;

	bottom: 0;
	left: 0;
  
	padding: 8px 22px;
}

.contacts .button {
	position: absolute;

	bottom: 0;
	left: 0;
  
	padding: 8px 40px;
}
/*-----------------------------------Стилизация внутренней страницы----------------------------*/
.user-account { 
	display: flex;
	flex-wrap: wrap;

	width: 260px;
	margin: 0;
	margin-left: auto;
	padding: 0;

	list-style: none;
}

.user-account a {
	color: rgba(0, 0, 0, 1);
}

.user-account a:hover,
.user-account a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.user-account a:active {
	color: rgba(0, 0, 0, 0.3); 
}

.profile {
	position: relative;
	
	margin-right: 22px;
	padding-left: 27px;
}

.profile::before {
	content: "";
  
  position: absolute;
  top: 4px;
  left: 0;

  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header .profile::before { 
	filter: brightness(0);
}

.profile:hover::before,
.profile:focus::before {
	opacity: 0.6;
}

.profile:active::before {
	opacity: 0.3;
}

.exit-profile {
	opacity: 0.3;
}

.exit-profile:hover,
.exit-profile:focus {
	opacity: 1;
}

.exit-profile:active {
	opacity: 0.2;
}

.breadcrumbs-wrapper h1 {
	margin: 37px 0 24px 60px;
	padding: 0;

	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.6px;
}

.breadcrumbs {
	position: relative;

	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	margin: 0 0 45px 60px;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	position: relative;

	margin-right: 36px;
}

.breadcrumbs li:not(:first-child)::before {
	content: "";

	position: absolute;
	top: 9px;
	left: -21px;

	width: 4px;
	height: 7px;

	background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;

	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.section-wrapper {
	position: relative;
}

.columns-wrapper {
	background-color: rgba(0, 0, 0, 0.08);
}

.columns-wrapper::before {
	content: "";

	position: absolute;
	width: 50%;
	height: 100%;
	z-index: -1;

	background-color: rgba(0, 0, 0, 0.08);
}

.columns {
	position: relative;

	display: flex;
}

.column-1 {
	box-sizing: border-box;
	position: absolute;

	width: 328px;
	padding-left: 60px;
}

.column-2 {
	width: 760px;
	margin-left: 328px;
	padding-left: 73px;
	background-color: rgba(235, 235, 235, 1);
}

.filters ul,
.sorting ul {
  list-style: none;
}

.filters p,
.sorting p {
	margin: 0;
	padding: 23px 0;

	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 4px;
}

.filters fieldset {
	border: none;
}

.filter-option {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 300;

	color: rgba(0, 0, 0, 1);
}

.column-1 .button {
	background-color: transparent;
}

.sorting {
	display: flex;
	align-items: center;
}

.sorting-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

	width: 500px;
	margin: 0 0 4px 47px;
	padding: 0;
}

.sorting-list li {
	margin-right: 29px;
}

.filter-up {
	margin-left: 19px;
}

.filter-down {
	margin-left: auto;
}

.filter-up a{
	display: block;
	width: 11px;
	height: 10px;

	background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;

  opacity: 0.2;
}

.filter-down a{
  display: block;
	width: 11px;
	height: 10px;

	background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 0, 0;

  opacity: 0.2;
}

.filter-up a:hover,
.filter-up a:focus,
.filtef-down a:hover,
.filter-down a:focus {
	opacity: 0.4;
} 

.filter-up a:active ,
.filtef-down a:active {
	opacity: 1;
}

.sorting-filter a {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;

	color: rgba(0, 0, 0, 0.3);	
}

.sorting-filter:hover a,
.sorting-filter:focus a {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-filter:active a {
	color: rgba(0, 0, 0, 1);
}

.sorting a.disabled {      /*----стили индикатора активнсти----*/
	pointer-events: none;
	color: rgba(0, 0, 0, 1);
}

.sorting span .disabled {
	opacity: 1;           
}                          /*-----------------------------------*/

.catalog-monopods {
	margin-left: 328px;
	padding: 69px 0 66px 72px;

	background-color: white;
}

.monopods-list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	width: 760px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.monopod-headline h3 {
	width: 260px;
	margin: 0;

	font-size: 18px;
	line-height: 24px;
	color: #000000;
}

.actions {
	position: absolute;
	top: 10px;
	left: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  
	width: 360px;
	height: 370px;

	background-color: rgba(238, 238, 238, 0.7);
}

.monopods-item .actions {
	display: none;
}

.monopods-item:hover .actions,
.monopods-item:focus .actions {
	display: flex;
}

.button-in-cart {
	background-color: transparent;
}

.button-compare {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 36px;
	font-weight: 300;

	color: rgba(0, 0, 0, 0.5 );
}

.button-compare:hover,
.button-compare:focus {
	color: rgba(0, 0, 0, 1 );
}

.button-compare:active {
	color: rgba(0, 0, 0, 0.2 );
}

.monopods-item {
	position: relative;

	display: flex;
	flex-direction: column-reverse;
	margin-right: 40px;
	margin-bottom: 46px;
}

.monopods-item:nth-child(2n) {
	margin-right: 0;
}

.monopods-item img {
	margin-bottom: 32px;
}

.name-item {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.name-item p {
	margin: 0;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #464646;
}

.pagination-list {
	position: relative;
	top: -11px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
  padding: 0;

	list-style: none;
	background-color: rgba(0, 0, 0, 0.07);
}

.pagination-next {
	margin-right: auto;
}

.pagination-next a {
	display: block;
	padding: 24px 30px 22px 30px;
}

.pagination-back {
	margin-left: auto;
}

.pagination-back a {
	display: block;
	padding: 24px 25px 22px 30px;
}

.page-numbers {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	margin-top: 1px;
	margin-left: 9px;

}

.page-numbers li:not(:last-child) {
	margin-right: 27px;
}

.pagination-list a {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item:hover a,
.pagination-item:focus a {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item:active a {
	color: rgba(0, 0, 0, 1);
}

 .pagination-current a,
 .pagination-current:hover a,
 .pagination-current:focus a {
	color: rgba(0, 0, 0, 1) ;
}

.pagination-next a,
.pagination-back a {
	color: rgba(0, 0, 0, 1);
}

.pagination-next:hover a,
.pagination-next:focus a,
.pagination-back:hover a,
.pagination-back:focus a {
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-next:active a,
.pagination-back:active a {
	background-color: rgba(0, 0, 0, 0.08);
	color: rgba(0, 0, 0, 0.3);
}

/*---------------------------------------------------------------------------------------------*/
.main-footer {
	margin-top: 82px;
	background-color: #464646;
}

.inner-page .main-footer {
	margin-top: 0;
}

.main-footer .container {
	position: relative;
}

.main-footer .container::after {
	content: "";

	position: absolute;
	bottom: 79px;
	left: 20px;

	width: 80px;
	height: 7px;
	background-color: rgba(255, 198, 0, 1);;
}

.footer-logo svg {
	position: absolute;
	margin-top: 65px;
	fill: rgba(255, 198, 0, 1);
}

.footer-logo:hover svg,
.footer-logo:focus svg {
	fill: rgba(255, 198, 0, 0.6);
}

.footer-logo:active svg {
	fill: rgba(255, 198, 0, 0.3);
}

.footer-user-controls ul {
	margin: 0;
	padding: 0;
	list-style: none;
} 

.footer-user-controls a {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 36px;
	font-weight: 300;

  color: rgba(255, 255, 255, 1);
}

.footer-user-controls a:hover,
.footer-user-controls a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.footer-user-controls a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-user-controls {
	position: relative;
	top: 60px;
	right: -1px;

	display: flex;
	justify-content: space-between;

	width: 326px;
	margin-left: auto;
	margin-bottom: 94px;
}

.inner-page .footer-user-controls {
	width: 479px;
}

.footer-user-controls-list {
	display: flex;
}

.footer-user-controls-list li {
	margin-left: 35px;
}

.footer-contacts {
	display: flex;
	justify-content: space-between;
}

.adress,
.phone {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;

  color: rgba(255, 255, 255, 1);
}

.adress {
	margin: 0;
	padding: 0;
	width: 210px;
}

.phone:hover,
.phone:focus {
	color: rgba(255, 255, 255, 0.6);
}

.phone:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-site-navigation,
.footer-social {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer-site-navigation {
	position: relative;
	bottom: 24px;
	display: flex;
	justify-content: flex-start;
	width: 425px;
	margin: auto;
	margin-bottom: 40px;
}

.footer-site-navigation li {
	margin-right: 30px;
}

.footer-site-navigation a {
  text-transform: uppercase;
	letter-spacing: 4px;
	color: rgba(255, 255, 255, 1);
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-social {
	display: flex;
	justify-content: space-between;

	width: 141px;
	margin: auto;
}

.footer-social .social-button {
	margin-bottom: 67px;
}

.footer-social .facebook {
  content: " ";

  display: block;
  width: 32px;
  height: 32px;

  background-image: url("../img/facebook.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  border-radius: 50%;
}

.footer-social .instagram {
  content: " ";

  display: block;
  width: 32px;
  height: 32px;

  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  border-radius: 50%;
}

.footer-social .twitter {
  content: " ";

  display: block;
  width: 32px;
  height: 32px;

  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  border-radius: 50%;
}

.footer-social .social-button:hover,
.footer-social .social-button:focus {
	opacity: 0.6;
}

.footer-social .social-button:active {
	opacity: 0.1;
}

.htmlacademy-logo {
	position: absolute;
	bottom: 60px;
	right: 20px;
}

.htmlacademy-logo img:hover,
.htmlacademy-logo img:focus {
	opacity: 0.6;
}

.htmlacademy-logo img:active {
	opacity: 0.3;
}
/*------------------------------попапы-----------------------------------------*/
.write-us {
	position: relative; /*заменить на fixed*/
	top: 120px;
  left: 50%;
  z-index: 24;
	
	width: 960px;
  margin-left: -480px;

	background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.write-us form {
	display: flex;
	flex-wrap: wrap;

	width: 760px;
	margin:auto;
	padding-top: 60px;
}

.write-us p {
	display: flex;
	flex-direction: column;

	margin: 0;
  margin-right: 40px;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  color: #000000;
}

.write-us p:nth-child(2n) {
	margin-right: 0;
}

.write-us label {
	padding-top: 35px;
  padding-bottom: 10px;
}

.write-us input[type="text"],
.write-us input[type="email"] {
	box-sizing: border-box;
  width: 360px;
  padding: 16px 20px 16px;
  
  font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(70, 70, 70, 0.4);

  background-color: rgba(230, 230, 230, 0.4);
  border: none;
}

.write-us textarea {
	box-sizing: border-box;
	width: 760px;
	min-height: 110px;
	padding: 16px 20px 16px;

  font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(70, 70, 70, 0.4);

  background-color: rgba(230, 230, 230, 0.4);
  border: none;
}

.write-us input:hover,
.write-us textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.write-us input:focus,
.write-us textarea:focus {
  outline-color: #f0c52e;
  background-color: #ffffff;
  color: rgba(70, 70, 70, 1);
}

.write-us .button {
	width: 200px;
	margin-top: 41px;
	margin-bottom: 78px;
	
}

.modal-close {
	position: absolute;
	top: 22px;
	right: 22px;
	z-index: 25;

	width: 55px;
	height: 55px;

	background-image: url("../img/modal-close.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  background-color: transparent;
	border: 0;
  
	cursor: pointer;

	opacity: 0.5;
}

.modal-close:hover,
.modal-close:focus {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.3;
}

.modal-map {
	position: relative;
	top: 50%;
	left: 50%;
	z-index: 23;

	display: block;

	width: 960px;
	height: 559px;
	margin-top: 150px;
	margin-left: -480px;

	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
}

.modal-map img {
	position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  width: 960px;
  height: 559px;
	margin: 0;
  
  text-align: center;
	background-color: #f4f8fa;
}
/*--------------------------------сетка----------------------------------------*/
/*body {
  background-color: rgba(170, 25, 241, 0.5);
}
body > * > * {
  background-color: rgba(221, 21, 21, 0.5);
}
body > * > * > * {
  background-color: rgba(110, 251, 141, 0.5);
}
body > * > * > * > * {
  background-color: rgba(2, 221, 11, 0.5);
}
body > * > * > * > * > * {
  background-color: rgba(1, 251, 221, 0.5);
}
body > * > * > * > * > * > * {
  background-color: rgba(1, 51, 221, 0.5);
}
