@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/gilroy-300/gilroy-300-normal.woff2') format('woff2'),
		 url('../fonts/gilroy/gilroy-300/gilroy-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/gilroy/gilroy-800/gilroy-800-normal.woff2') format('woff2'),
		 url('../fonts/gilroy/gilroy-800/gilroy-800-normal.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-300/opensans-300-normal.woff2') format('woff2'),
         url('../fonts/opensans/opensans-300/opensans-300-normal.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-400/opensans-400-normal.woff2') format('woff2'),
         url('../fonts/opensans/opensans-400/opensans-400-normal.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
	margin: 0;
  
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;

  color: #000000;

  background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.button {
  font: inherit;

  text-align: center;
  color: rgba(0, 0, 0, 1);
  vertical-align: middle;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #ffffff;
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0) 40%,rgb(240, 197, 46) 40%,rgb(240, 197, 46) 60%,rgba(255, 255, 255, 0) 60%);
  border: none;
}

.button:hover,
.button:focus {
	background-image: linear-gradient(to bottom,rgb(240, 197, 46) 40%,rgb(240, 197, 46) 40%,rgb(240, 197, 46) 60%,rgb(240, 197, 46) 60%);
}
.button:active {
	color: rgba(0, 0, 0, 0.3);
}

.button-in-cart {
	 background-image: linear-gradient(to bottom,rgba(238, 238, 238, 0.7) 40%,rgb(240, 197, 46) 40%,rgb(240, 197, 46) 60%,rgba(238, 238, 238, 0.7) 60%);
}

.button-compare {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 36px;
	font-weight: 300;

	color: rgba(0, 0, 0, 0.5 );
}

.button-compare:hover,
.button-compare:focus {
	color: rgba(0, 0, 0, 1 );
}

.button-compare:active {
	color: rgba(0, 0, 0, 0.2 );
}

.services-button:active {
	background-image: linear-gradient(to bottom,rgb(0, 0, 0) 40%,rgb(0, 0, 0) 40%,rgb(0, 0, 0) 60%,rgb(0, 0, 0) 60%);
	color: #f7e184;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header-wrapper {
	margin-top: 20px;
	background-color: rgba(240, 197, 46, 0.5);
}

.header-logo {
	margin-left: 60px;
}

.header-logo:hover,
.header-logo:focus {
	fill: rgba(0, 0, 0, 0.6);
}

.header-logo:active {
	fill: rgba(0, 0, 0, 0.3);
}

.user-controls {
	display: flex;
	margin: 0 60px;
}

.login {
	margin: 0;
	padding: 0;
	margin-right: 200px;
	margin-left: auto;
}

.user-account {
	margin: 0;
	padding: 0;
	margin-right: 85px;
	margin-left: auto;
}

.user-controls-list {
	margin: 0;
	padding: 0;
}

.user-navigation,
.catalog-list {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
}

.user-navigation:hover,
.user-navigation:focus,
.catalog-list:hover,
.catalog-list:focus {
	color: rgba(0, 0, 0, 0.6);
}

.catalog-list {
	display: 
	line-height: 36px;
}

.login,
.user-controls-list,
.site-navigation,
.catalog-list,
.user-account {
	list-style: none;
}

.login a,
.user-controls-list a,
.site-navigation a,
.catalog-list a,
.user-account a {
	color: rgba(0, 0, 0, 1);
}

.login a:hover,
.login a:focus,
.user-controls-list a:hover,
.user-controls-list a:focus,
.site-navigation a:hover,
.site-navigation a:focus, 
.catalog-list a:hover,
.catalog-list a:focus,
.user-account a:hover,
.user-account a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.login a:active,
.user-controls-list a:active,
.site-navigation a:active, 
.catalog-list a:active,
.user-account a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-navigation {
	display: flex;
	margin: 0 60px;
	padding: 0;
}

.site-navigation li:nth-child(2){
	margin-left: auto;
	margin-right: 40px;
}

.site-navigation li:nth-child(3){
	margin-right: 100px;
}

.site-navigation a {
	text-transform: uppercase;
	letter-spacing: 4px;
}

.catalog-list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.catalog-list li:nth-child(2),
.catalog-list li:nth-child(3) {
	margin: 0;
}

.catalog-list a {
	text-transform: none;
	letter-spacing: normal;
}

.slider-popular-product {
	margin-bottom: 105px;
}

.slider-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slide-number {
	margin: 0;
	padding: 0;
	font-size: 179px;
	line-height: 179px;
}

.slide-name {
	margin: 0;
	padding: 0;
	font-size: 47px;
	line-height: 56px;
}

.slide-description {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;

	color: #000000;
}

.options {
	display: flex;

}

.options-column {
	display: flex;
	flex-direction: column-reverse;

	margin-right: 80px;
}

.options dt {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;

	color: #000000;
}

.options dd {
	margin: 0;
	font-size: 36px;
	line-height: 48px;
	font-weight: 300;
}

.services-slider {
  margin-bottom: 95px;
  background-color: #e5e5e5;
}

.services-column {
	display: flex;	
}

.button-list,
.services-description {
	margin: 0;
	padding: 0;
	list-style: none;
}

.button-list {
	width: 300px;
	margin-right: 100px;
}

.services-description {
	width: 460px;
}

.services-item h3 {
	margin: 0;
	font-size: 47px;
	line-height: 48px;
}

.services-item p {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;

	color: #000000;
}

.popular-brends {
	margin-bottom: 87px;
}

.popular-brends-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.popular-brend-item img {
  filter: grayscale(1);
  opacity: 0.2;
	}

.popular-brend-item:hover img {
filter: grayscale(0);
opacity: 1;
}

.popular-categories {
	margin-bottom: 80px;
}

.popular-categories-list {
	display: flex;
	justify-content: space-between;

	margin: 0;
	padding: 0;
  list-style: none;
}

.popular-categories-list a {
	display: flex;
	flex-direction: column-reverse;
}

.popular-categories-list h3 {
	margin: 0;
	padding: 0;
	width: 160px;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.popular-categories-item p {
	margin: 0;
	width: 160px;
	height: 160px;
	background-color: rgba(240, 197, 46, 0.5);
	text-align: center;
}

.popular-categories-item:hover p,
.popular-categories-item:focus p {
  background-color: rgba(240, 197, 46, 1);
}

.popular-categories-item:active h3,
.popular-categories-item:active p,
.popular-categories-item:active img {
	opacity: 0.6;
}

.about-us-wrapper {
	display: flex;
	justify-content: space-between;
}

.about-us {
	width: 460px;
}

.contacts {
	width: 560px;
}

.about-us h2,
.contacts h2 {
 font-size: 47px;
 line-height: 48px;
}

.about-us p,
.contacts p {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;

	color: #000000;
}

.delivery-company-list {
	list-style: none;
}
/*-----------------------------------Стилизация внутренней страницы----------------------------*/
.main-header-wrapper {
	margin-bottom: 75px;
}

.catalog-wrapper h1 {
	margin: 0;
	margin-left: 60px;
	margin-bottom: 30px;
	padding: 0;
}

.breadcrumbs {
	display: flex;

	margin: 0;
	margin-left: 60px;
	padding: 0;
	list-style: none;
}

.breadcrumbs li {
	margin-right: 40px;
}

.breadcrumbs a,
.breadcrumbs-current {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;

	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

.columns {
	display: flex;
}

.column-1 {
	padding-left: 60px;
	width: 268px;
}

.column-2 {
  padding-left: 73px;
	width: 760px;
}

.filters p,
.sorting p {
	text-transform: uppercase;
	letter-spacing: 4px;
}
.filters ul,
.sorting ul {
  list-style: none;
}

.filters fieldset {
	border: none;
}

.filter-option {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
	font-weight: 300;

	color: rgba(0, 0, 0, 1);
}

.sorting-filter a {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;

	color: rgba(0, 0, 0, 0.3);	
}

.sorting-filter:hover a,
.sorting-filter:focus a {
	color: rgba(0, 0, 0, 0.6);
}

.sorting-filter:active a {
	color: rgba(0, 0, 0, 1);
}

.sorting a.disabled {      /*стили индикатора активнсти*/
	pointer-events: none;
	color: rgba(0, 0, 0, 1);
}

.monopods-list {
	display: flex;
	flex-wrap: wrap;
	width: 760px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.monopod-headline h3 {
	color: #000000;
}

.actions {
	background-color: rgba(238, 238, 238, 0.7);
}

.monopods-item {
	display: flex;
	flex-direction: column-reverse;
	margin-right: 40px;
}

.monopods-item:nth-child(2n) {
	margin-right: 0;
}

.monopods-item p {
	font-weight: 300;
	color: #464646;
}

.pagination-list {
	list-style: none;
	background-color: rgba(0, 0, 0, 0.07);
}

.pagination-list a {
	text-transform: uppercase;
	letter-spacing: 4px;
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item:hover a,
.pagination-item:focus a {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item:active a {
	color: rgba(0, 0, 0, 1);
}

 .pagination-current a,
 .pagination-current:hover a,
 .pagination-current:focus a {
	color: rgba(0, 0, 0, 1) ;
}

.pagination-next a,
.pagination-back a {
	color: rgba(0, 0, 0, 1);
}

.pagination-next:hover a,
.pagination-next:focus a,
.pagination-back:hover a,
.pagination-back:focus a {
	background-color: rgba(0, 0, 0, 0.08);
}

.pagination-next:active a,
.pagination-back:active a {
	background-color: rgba(0, 0, 0, 0.08);
	color: rgba(0, 0, 0, 0.3);
}

/*---------------------------------------------------------------------------------------------*/
.main-footer {
	margin-top: 93px;
	background-color: #464646;
}

.footer-logo svg {
	margin-top: 65px;
	fill: rgba(255, 198, 0, 1);
}

.footer-logo:hover,
.footer-logo:focus {
	fill: rgba(255, 198, 0, 0.6);
}

.footer-logo:active {
	fill: rgba(255, 198, 0, 0.3);
} 

.footer-user-controls {
	display: flex;
	justify-content: flex-end;

	width: 360px;
	margin-left: auto;
}

.footer-user-controls li {
	margin-left: 65px;
}

.footer-user-controls-list {
	display: flex;
}

.footer-contacts {
	display: flex;
	justify-content: space-between;
}

.footer-login,
.footer-user-controls-list,
.footer-site-navigation,
.footer-social {
	margin: 0;
	padding: 0;
	list-style: none;
}

.adress,
.phone,
.footer-login a,
.footer-user-controls-list a,
.footer-social a {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;

  color: rgba(255, 255, 255, 1);
}

.adress {
	margin: 0;
	padding: 0;
	width: 210px;
}

.footer-login a,
.footer-user-controls-list a {
	line-height: 36px;
}

.footer-site-navigation a {
  text-transform: uppercase;
	letter-spacing: 4px;
	color: rgba(255, 255, 255, 1);
}

.phone:hover,
.phone:focus,
.footer-login a:hover,
.footer-login a:focus,
.footer-user-controls-list a:hover,
.footer-user-controls-list a:focus,
.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
	color: rgba(255, 255, 255, 0.6);
}

.phone:active,
.footer-login a:active,
.footer-user-controls-list a:active,
.footer-site-navigation a:active {
	color: rgba(255, 255, 255, 0.3);
}

.footer-social {
	text-align: center;
}

.footer-site-navigation {
	display: flex;
	width: 440px;
	margin: auto;
	margin-bottom: 67px;
}

.footer-site-navigation li {
	margin-right: 38px;
}

.htmlacademy-logo {
	margin-left: auto;
}

.htmlacademy-logo img:hover,
.htmlacademy-logo img:focus {
	opacity: 0.6;
}

.htmlacademy-logo img:active {
	opacity: 0.3;
}

/*--------------------------------сетка----------------------------------------*/
/*body > * {
  background-color: rgba(170, 25, 241, 0.5);
}
body > * > * {
  background-color: rgba(221, 21, 21, 0.5);
}
body > * > * > * {
  background-color: rgba(110, 251, 141, 0.5);
}
body > * > * > * > * {
  background-color: rgba(2, 221, 11, 0.5);
}
body > * > * > * > * > * {
  background-color: rgba(1, 251, 221, 0.5);
}
